<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/chatbot.css">
</head>
<body class="show_chatbot">
    <button class="chatbot_toggler">
        <span class="material-symbols-outlined">chat  </span>
        <span class="material-symbols-outlined close">close </span>
    </button>
    <section class="chatbot">
        <div class="chatbot_header">
            <h2>Chatbot</h2>
            <span class="material-symbols-outlined close">close </span>
        </div>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class ="material-symbols-outlined">
                    robot_2
                </span>
                <p>Chào bạn, tôi có thể giúp được gì?</p>
            </li>
            <li class="chat outgoing">
                <p>Hãy cho tôi biết cách sử dụng trang web</p>
            </li>
        </ul>
        <div class="chat_input">
            <textarea name="" id="" placeholder="Nhập nội dung......" required></textarea>
            <span class="material-symbols-outlined">
                send
            </span>
        </div>
    </section>
    <script src="../public/JavaScript/chatbot.js"></script>
</body>
</html>