<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in & Sign up Form</title>
    <title>VKU Career Path</title>
    <title>VKU Career Path - Đăng nhập</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
    <script src="/sweetalert2/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <!-- Form đăng nhập -->
            <form action="/login" method="POST" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <a href="/"><img src="/img/logo-black-removebg.png" alt="VKU-Career-Path" /></a>
                <h4>VKU Career Path</h4>
              </div>

              <div class="heading">
                <h2>Chào Mừng !</h2>
                <h6>Chưa có tài khoản ?</h6>
                <a href="#" class="toggle">Đăng Ký</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="email"
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="password"
                  />
                  <label>Mật khẩu</label>
                </div>

                <input type="submit" value="Đăng nhập" class="sign-btn" id="submitLogin"/>

                <p class="text">
                  Bạn quên mật khẩu hoặc dữ liệu đăng nhập ?
                  <a href="#">Trợ giúp</a> đăng nhập
                </p>
              </div>
            </form>
            <!-- Form đăng ký -->
          <form action="/register" method="POST" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <a href="/"><img src="/img/logo-black-removebg.png" alt="VKU-Career-Path" /></a>
                <h4>VKU Career Path</h4>
              </div>

              <div class="heading">
                <h2>Bắt Đầu</h2>
                <h6>Đã có tài khoản?</h6>
                <a href="#" class="toggle">Đăng Nhập</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="name"
                  />
                  <label>Tên đăng nhập</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="email"
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="password"
                  />
                  <label>Mật khẩu</label>
                </div>
                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="passwordConfirm"
                  />
                  <label>Xác nhận mật khẩu</label>
                </div>
                <input type="submit" value="Đăng Ký" class="sign-btn" id="submitRegister"/>
                <p class="text">
                  Bằng cách đăng ký, tôi đồng ý với
                  <a href="#">Điều khoản</a> và
                  <a href="#">Chính sách</a>
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="/img/image1.png" class="image img-1 show" alt="" />
              <img src="/img/image2.png" class="image img-2" alt="" />
              <img src="/img/image3.png" class="image img-3" alt="" />

              <img src="/img/image1.png" class="image img-1 show" alt="" />
              <img src="/img/image2.png" class="image img-2" alt="" />
              <img src="/img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Định hướng phát triển</h2>
                  <h2>Hướng đi phù hợp</h2>
                  <h2>Lựa chọn đúng đắn</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->
    <script src="/JavaScript/login.js"></script>
    <script src="/JavaScript/ClientAccount.js"></script>
  </body>
</html>
